


:any-link{
    color: rgb(255, 255, 255);
}


.box {
    display: inline-block;
    background: rgb(0, 0, 0);
    width: 2500px;
    height: 80px;
   }

#Horaires {
  top:90px;
  left: 20px;
  
  position: absolute;
}
